body{
    background: #f6f9fc;
}
#header {
    height: 72px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background:#595959;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
 
  #header .logo h1 a, #header .logo h1 a:hover {
    color: white;
    text-decoration: none;
  }
  .logo{
      width: 2.5rem;
      height: 2.5rem;
  }
  .navbar {
    padding: 0;
    
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
  }
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    color: white;
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: rgb(19, 107, 248);
  }
  .navbar .getstarted, .navbar .getstarted:focus {
    background: rgb(19, 107, 248);
    color: #fff;
    padding: 10px 25px;
    margin-left: 30px;
    border-radius: 50px;
  }
  .navbar .getstarted:hover, .navbar .getstarted:focus:hover {
    color: #fff;
    background: blueviolet;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: rgb(19, 107, 248);
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  .searchbar{
      width: auto;
      height: 25rem;
      background-color: grey;
      display: flex;
      align-items: center;
      justify-content: center;
    
   
  }

.height {
    height: 100vh
}

.form {
    position: relative
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db
}

.left-pan {
    padding-left: 7px
}
.search-select{
    width: 10rem;
  
}

.search {
  background-color: #c6c6c6;
  border-radius: 14px;
  box-shadow: 0px 4px 0px #00000040;
  height: 186px;
  /*left: 272px;*/
  position: relative;
  top: 0px;
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 75px;
  margin: 30px 20%;
}

/*@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700,600|Open+Sans:400,700,600|DM+Serif+Display:400|Roboto:400,700|Nunito+Sans:400");
*/
.component-2 {
  align-items: flex-start;
  background-color: #fffbfb;
  border: 1px solid var(--white);
  border-radius: 18.5px;
  box-shadow: 0px 4px 4px #d4d4d440;
  display: flex;
  height: 55px;
  width: 70%;
  /*left: 322px;*/
  /*min-width: 511px;*/
  padding: 14.5px 0;
  /*position: absolute;*/
  /*top: 159px;*/
}

.vector {
  height: 22px;
  margin-left: 288px;
  width: 20px;
}

.search-for-an-offer {
  color: #4a4a4a;
  font-family: var(--font-family-quicksand);
  font-size: var(--font-size-l);
  font-weight: 400;
  /*height: 22px;*/
  letter-spacing: 0;

  /*text-align: center;*/
  /*width: 197px;*/
  padding: 15px;
}

/*.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/

.hero {
  background-image: url('/views/assets/images/hero-companies.png');
  display: flex;
  /*align-items: flex-end;*/
  justify-content: center;
  /*background-color: #C0B8DA;*/
  background-position: 50% 50%;
  background-size:cover;
  /*height: 168px;*/
  min-width: 318px;
  padding: 11px 0;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media screen and (max-width: 800px) {
  .search {
      background-color: #c6c6c6;
      border-radius: 14px;
      box-shadow: 0px 4px 0px #00000040;
      height: 186px;
      /*left: 272px;*/
      position: relative;
      top: 0px;
      width: 80%;
      display: flex;
      justify-content: center;
      padding: 75px 25px;
      margin: 20px 10%;
  }

  .component-2 {

      width: 100%;
      /*left: 322px;*/
      /*min-width: 511px;*/

      /*position: absolute;*/
      /*top: 159px;*/
  }

}

#offers-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}