.card{
 
  align-items: center;
  align-self: flex-end;
  background-color: var(--white);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  overflow: hidden;
  
  
=======
  margin: 0 20px 20px 20px;
  overflow: hidden;
>>>>>>> 661e3a58bcb93bce5826b5ac8a53d873f4754432
}