<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/views/assets/scripts/functions.js"></script>
</head>
<body>
    <div style="width: 50%; display:flex;flex-direction:row; justify-content:space-evenly">
        <canvas id="myChart"></canvas>
        <table style="width: 30%;">
            <tr><th>Last 10 Offers</th></tr>
            <tbody>

            </tbody>
        </table>
    </div>
<script>
    document.body.onload = () => {
        getStudentStats(41);
    }
</script>
</body>
</html>