<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/views/assets/scripts/functions.js"></script>
</head>
<body>
    <canvas id="myChart" style="width: 50px !important;"></canvas>
<script>
    const getCompanyStats = (id_com) => {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/controllers/stats-company.php?id_com=" + id_com, true);
        xhr.withCredentials = true;
        xhr.onload = function () {
            if (xhr.status == 200) {
                var stats = JSON.parse(xhr.response);
                //console.log(auths);
                const ctx = document.getElementById('myChart');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Total Offers',
                        'Total Locations',
                        'Average Student Rating',
                        'Average Pilot Rating'],
                        datasets: [{
                            label: '',
                            data: [stats.total_offers, stats.total_locations, stats.average_student_rating, stats.average_pilot_rating],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
    
                
            }
            else { }
        };
        xhr.send(); //Envoi de la requête au serveur (asynchrone par défaut)
    }
    document.body.onload = () => {
        getCompanyStats(15);
    }
</script>
</body>
</html>