<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/controllers/set-rep-auths.php" method="post">
        <input type="number" name="id_user"/>
        <input type="checkbox" name="auth[]" id="sfx2" value="sfx2"/>
        <input type="checkbox" name="auth[]" id="sfx3" value="sfx3"/>
        <input type="checkbox" name="auth[]" id="sfx4" value="sfx4"/>
        <input type="checkbox" name="auth[]" id="sfx5" value="sfx5"/>
        <input type="checkbox" name="auth[]" id="sfx6" value="sfx6"/>
        <input type="checkbox" name="auth[]" id="sfx7" value="sfx7"/>
        <input type="checkbox" name="auth[]" id="sfx8" value="sfx8"/>
        <input type="checkbox" name="auth[]" id="sfx9" value="sfx9"/>
        <input type="checkbox" name="auth[]" id="sfx10" value="sfx10"/>
        <input type="checkbox" name="auth[]" id="sfx11" value="sfx11"/>
        <input type="checkbox" name="auth[]" id="sfx12" value="sfx12"/>
        <input type="checkbox" name="auth[]" id="sfx13" value="sfx13"/>
        <input type="checkbox" name="auth[]" id="sfx14" value="sfx14"/>
        <input type="checkbox" name="auth[]" id="sfx15" value="sfx15"/>
        <input type="checkbox" name="auth[]" id="sfx16" value="sfx16"/>
        <input type="checkbox" name="auth[]" id="sfx17" value="sfx17"/>
        <input type="checkbox" name="auth[]" id="sfx18" value="sfx18"/>
        <input type="checkbox" name="auth[]" id="sfx19" value="sfx19"/>
        <input type="checkbox" name="auth[]" id="sfx20" value="sfx20"/>
        <input type="checkbox" name="auth[]" id="sfx22" value="sfx22"/>
        <input type="checkbox" name="auth[]" id="sfx23" value="sfx23"/>
        <input type="checkbox" name="auth[]" id="sfx24" value="sfx24"/>
        <input type="checkbox" name="auth[]" id="sfx25" value="sfx25"/>
        <input type="checkbox" name="auth[]" id="sfx26" value="sfx26"/>
        <input type="checkbox" name="auth[]" id="sfx32" value="sfx32"/>
        <input type="checkbox" name="auth[]" id="sfx33" value="sfx33"/>
        <button type="submit" name="submit">submit</button>
    </form>
</body>
</html>