<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test.css">
</head>
<body>

    <main>
    <div class="offer-card">
        <div class="flex-col">
          <div class="overlap-group2">
            <img class="image-3" src="logo.png" />
          </div>
          <div class="flex-row">
            <div class="flex-col-1">
              <div class="totalenergies-container">
                <h1 class="total-energies">Offer Name</h1>
                <div class="total-energies-1 opensans-normal-raven-18px">
                  <span class="opensans-normal-raven-18px">Offered by </span><span class="span1">[name_company]</span>
                </div>
              </div>
              <p class="available-from-lev opensans-semi-bold-oxford-blue-13px">
                <span class="opensans-semi-bold-oxford-blue-13px">Available from:</span
                ><span class="opensans-normal-oxford-blue-13px"> [level_offer].<br /></span
                ><span class="opensans-semi-bold-oxford-blue-13px">Length:</span><span class="span3">&nbsp;</span
                ><span class="opensans-normal-oxford-blue-13px">[length_offer].<br /></span
                ><span class="opensans-semi-bold-oxford-blue-13px">Pay:</span
                ><span class="opensans-normal-oxford-blue-13px"> [pay_offer] Euro/h.<br /></span
                ><span class="opensans-semi-bold-oxford-blue-13px">Available Places:</span
                ><span class="opensans-normal-oxford-blue-13px"> [available_places_offer].</span>
              </p>
            </div>
            <div class="overlap-group3">
              <div class="total-energies-2 opensans-normal-raven-18px">Skills</div>
              <div class="c-programming-sys-ml-arduino-ide">C Programming<br />SysML<br />Arduino &amp; IDE</div>
            </div>
          </div>
          <div class="flex-col-2">
            <div class="description">Description :</div>
            <p class="lorem-ipsum-dolor-si">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Varius
              duis at consectetur lorem donec massa. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Gravida neque convallis a
              cras semper auctor neque vitae tempus. Rhoncus mattis rhoncus urna neque viverra justo.
            </p>
          </div>
        </div>
        <div class="flex-row-1">
          <img class="livello-5" src="https://img.icons8.com/ios/50/000000/property-time.png"/>
          <div class="xx-months quicksand-semi-bold-white-16px">
            <span class="quicksand-semi-bold-daintree-16px">XX</span><span class="quicksand-normal-raven-16px"> Months</span>
          </div>
          <img class="livello-5" src="https://img.icons8.com/ios/50/000000/men-age-group-5.png"/>
          <div class="xx-places quicksand-semi-bold-white-16px">
            <span class="quicksand-semi-bold-daintree-16px">XX</span><span class="quicksand-normal-raven-16px"> Places</span>
          </div>
          <img class="livello-5" src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png"/>
          <div class="xx-places quicksand-semi-bold-white-16px">
            <span class="quicksand-semi-bold-daintree-16px">XX</span><span class="quicksand-normal-raven-16px"> Level</span>
          </div>
          
        </div>
        <div class="flex-col-3">
          <div class="contacts-v7-m1">
            <div class="title">Contact company:</div>
            <div class="email">company@ema.il</div>
          </div>
          <div class="overlap-group-container">
            <div class="addwlbut-container">
              <div class="button"></div>
              <div class="butontext valign-text-middle quicksand-semi-bold-white-22px">Add to Wishlist</div>
            </div>
            <div class="applybut-container">
              <div class="button"></div>
              <div class="butontext valign-text-middle quicksand-semi-bold-white-22px">Apply</div>
              
            </div>
          </div>
        </div>
      </div>
      </main>
</body>
</html>