<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overlay Company</title>
    <link rel="stylesheet" href="assets/css/overlay-offer.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <link href="/views/assets/img/apple-touch-icon.png" rel="apple-touch-icon"> 
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
      <link href="/views/assets/vendor/aos/aos.css" rel="stylesheet">
      <link href="/views/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="/views/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
</head>
<body>



  <div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="https://www.hellomagazine.com/imagenes/homes/2020100798653/the-rock-reveals-immaculate-garden/0-472-501/the-rock-garden-t.jpg" class="img-fluid"/>
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h2 class="card-title">TotalEnergies</h3>
      <br>
      <h4>Description :</h3>
      <div class="col-md-12">
        <br>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        
      </div>
      <br>
      
      <br>
      <div class="row ">
        <div class="col-mb-6 bg-light d-flex justify-content-between flex-column">
          <h3>Contact company:</h3>
          <br>
          <br>
          <p class="text-muted">company@email.com</p>

        </div>

      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="#!" class="btn btn-primary">Check our Offers</a>
         
  
          </div>

      </div>

      </div>
    </div>
  </div>
  
</body>
</html>