<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Overlay Company</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
  <link href="/views/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
  rel="stylesheet">
  <link href="/views/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/views/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/views/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/overlay-application.css">
</head>

<body>



  <div class="card" id="apply-card" style="background-color: white; width:90%;margin:0 5%">
    <button  type="button" class="close btn btn-danger" aria-label="Close" onclick="document.getElementById('overlay').style.display = 'none';">x</button>

    <div class="card-body d-flex align-items-center flex-column">
      <h2 class="card-title">Apply to ${offer.name_offer}</h3>
        <br>
        <h4 class="text-muted">Resume :</h3>
          <br>
          <div class="container d-flex align-items-center flex-column">
<form method="post" action="/controllers/apply-offer.php" enctype="multipart/form-data">
<label for="id_offer">id offer</label><br>
<input type="number" name="id_offer" id="id_offer"/><br>


<label for="resume">Resume</label><br>
<input type="file" id="resume" name="resume"/><br>

<label for="motivation">Motivation Letter</label><br>
<input type="file" id="motivation" name="motivation"/><br>

<button type="submit" name="submit" value="submit">Submit</button>

</form>
            <div class="row d-flex align-items-center flex-column">
              <div class="col-mb-8 bg-light d-flex align-items-center flex-column">
                <i class="bi bi-upload"></i>
                <h4>Drag and drop resume here or</h4>
                <br>
                <br>
                <a href="#!" class="btn btn-primary">Browse Files</a>
              </div>
            </div>
            <br>
            <h4 class="text-muted">Motivation letter :</h3>
              <br>
              <div class="row">
                <div class="col-mb-8 bg-light d-flex align-items-center flex-column">
                  <i class="bi bi-upload"></i>
                  <h4>Drag and drop letter here or</h4>
                  <br>
                  <br>
                  <a href="#!" class="btn btn-primary">Browse Files</a>
                </div>
              </div>
              <br>
              <a href="#!" class="btn btn-primary">Submit</a>

          </div>
    </div>




  </div>

</body>

</html>