<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overlay Company</title>
    <link rel="stylesheet" href="assets/css/overlay-company.css">
</head>
<body>
    <div class="company-card">
        <div class="overlap-group">
          <img class="image-3" src="image-3-6.png" />
        </div>
        <h1 class="total-energies quicksand-bold-raven-36px">TotalEnergies</h1>
        <div class="description quicksand-bold-raven-36px">Description</div>
        <p class="lorem-ipsum-dolor-svalign-text-middle">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
          in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum."
        </p>
        <div class="contacts-v7-m1">
          <div class="title">Contact us:</div>
          <div class="email">ohamid@uioct.com</div>
        </div>
        <div class="companybut-container">
          <div class="companybutton"></div>
          <div class="companybuton textvalign-text-middle">Check our offers</div>
        </div>
      </div>
</body>
</html>